server:
  port: 8082

spring:
  application:
    name: booking-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/bookingdb
    username: bookinguser
    password: bookingpass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

# Configuration RabbitMQ
rabbitmq:
  exchange:
    booking: booking.exchange
  queue:
    billing: billing.queue
  routing-key:
    billing: booking.billing.key