apiVersion: v1
kind: Service
metadata:
  name: customer-service
  namespace: hotel-management
spec:
  selector:
    app: customer-service
  ports:
  - port: 8083
    targetPort: 8083
  type: ClusterIP